.box {
    --mask: 
      linear-gradient(to top,#0000 30px,#000 0),
      radial-gradient(30px,#000 98%,#0000) bottom/55.50px 60px;
    -webkit-mask: var(--mask);
            mask: var(--mask);
            background-color: #4c9de3;
  }

  .color{
    background: rgb(0, 0, 0);
    background: linear-gradient(169deg, rgba(70, 39, 243, 0.701) 0%, rgba(29, 98, 209, 0.933) 28%, rgba(56, 149, 196, 0.774) 100%);
    }

  .cont{
    height: 620px;
  }

  .bloque{
    background: #a2bdfc;;
    border-color: black ;
    opacity: 0.8;
    
  }

  .icon-list {
    list-style-type: disc; /* Puedes cambiar 'disc' al estilo de viñeta que prefieras */
    margin-left: 20px; /* Espacio izquierdo para dar espacio al icono */
  }