@keyframes colorWave {
    0% { background-color:rgb(29 78 216);}
    25% { background-color: #135ed6; }
    50% { background-color: #2758e0; }
    75% { background-color: #135ed6; }
    100% { background-color:  rgb(29 78 216)}
}

.colorWave-effect {
    animation-name: colorWave;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}