@keyframes colorWave {
    0% { background-color: #2857e5;  }
    25% { background-color: #1d97e3; }
    50% { background-color: #1570e7; }
    75% { background-color: #1d97e3;}
    100% { background-color: #2857e5;   }
}

.colorWave-effect {
    animation-name: colorWave;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}